.standingsWrapper {
  height: 100%;
  overflow: auto;
}

.standings {
  background: #2A2A2A;
  border: 1px solid #232323;
  width: 100%;
  border-collapse: collapse;
}

.standingsEntry {
  border-bottom: 1px solid #232323;
}

.standingsEntry td {
  padding: 0 0.5rem;
}

.standingsEntry td:has(.engineLogo) {
  width: 50px;
  padding: 0;
}

.standingsEntry .engineLogo {
  margin-bottom: 0;
}

.standings tr:nth-child(2n) td {
  background: #323232;
}

td.placement {
  width: 2rem;
  text-align: center;
  color: #A1A1A1;
}

td.score,
td.perf,
td.rating {
  color: #A1A1A1;
}

td.score {
  width: 110px;
}

td.perf {
  width: 70px;
}

td.rating {
  width: 70px;
}