:root {
  --board-size: min(calc(100vh - 12rem), calc(100vw - var(--standings-width)));
  --standings-width: 30rem;
  --schedule-width: 30rem;
}

.app {
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  overflow: hidden;

  display: grid;
  grid-template-columns: var(--board-size) var(--standings-width) var(--schedule-width);
  gap: 1rem;
}

.boardWindow {
  max-height: 100%;
  width: var(--board-size);
}

.board {
  width: var(--board-size);
  height: var(--board-size);
}

.board cg-board {
  background-color: #8ca2ad;
}