:root {
  --standings-width: 28rem;
  --schedule-width: 28rem;
  --engines-width: 350px;
  --board-size: calc(100vw - var(--standings-width) - var(--schedule-width) - var(--engines-width));
}

.app {
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: var(--engines-width) var(--board-size) 1fr;
  grid-template-rows: 50px var(--board-size) minmax(0, 1fr);
  gap: 1rem;
}

.topBar,
.scheduleWindow,
.standingsWindow,
.graphWindow,
.boardWindow,
.movesWindow {
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1A1A1A;
  padding: 1rem;
}

.topBar {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  font-weight: bold;
}

.popup {
  position: absolute;
  background: #2A2A2AEE;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: auto;
  border-radius: 8px;
}

.engineWindow {
  height: var(--board-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movesWindow {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boardWindow {
  width: var(--board-size);
  height: var(--board-size);
  border: 1px solid #1A1A1A;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardWindow cg-container {
  width: var(--board-size) !important;
  height: var(--board-size) !important;
}

.boardWindow cg-board {
  background-color: #8ca2ad;
}

.scheduleWindow {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 2fr;
  gap: 1rem;
  grid-column: 2 / 3;
}

.graphWindow {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.standingsWindow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  gap: 1rem;
  position: relative;
}

.standingsWindow button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}